p {
    margin: 0;
}

.container {
    background-color: aqua;
    display: flex;
    width: 500px;
    height: 200px;
    align-items: center;
}

.first {
    background-color: bisque;
    width: 50%;
    /* 250px */
}

.first p {
    width: 50%;
    /* 125px */
    background-color: cornflowerblue;
}

.second {
    background-color: red;
    width: 20%;
}

.last {
    background-color: green;
    width: 30%;
}
  



